# виртуальное окружение
.venv/

# dotenv-файлы
.env
.env.example

# build-артефакты Python
build/
dist/
*.egg-info/
__editable__*/

# кеш байткода
__pycache__/

# фронтенд зависимости (любой node_modules на любой глубине)
**/node_modules/
